<div class="album mt-5" id="album">
  <form
    class="album__top -u-form-input-spacing"
    id="album-form"
    data-submiturl="/add-music/album"
    data-submitnum="<%= 'submitStatus+1' %>"
  >
    <div class="album__top__name">
      <!--  ALBUM NAME -->
      <%- include("../form/input", {formData: {name: 'name', label: `Album
      Name`, required: '*required'}}) %>
    </div>
    <div class="album__top__artwork">
      <!-- ARTWORK UPLOAD -->
      <%- include("../form/imageFile", {formData: {required: '*required', label:
      `Upload Album Artwork (3000 X 3000)`, classList: ['track-form__head--2'],
      name: 'artwork', public_id: `music/artworks/artwork-${'token'}`, size:
      '2', uploadTexts: [`File format must be .jpg/.jpeg`, `File size must not
      be larger than 1.5mb`, `Image dimensions should be at least 3000 x 3000
      pixels`, `Design must not contain website addresses, email addresses,
      logos, social media icons, or any other reference to other services (ie.
      social media)`]}}) %>
    </div>
  </form>

  <div class="album__container">
    <div class="album__container__btn -u-flexerize">
      <div class="text-left">*20 tracks max.</div>
      <div class="text-right">
        <button class="btn-outline" id="new" data-type="new">
          <span>+</span> <span>New Track</span>
        </button>
      </div>
    </div>
    <div
      id="track-list"
      data-stagename="<%= 'user.profile.stageName' %>"
      data-url="<%= Fns.cloudinaryUrl('video') %>"
      data-upload_preset="<%= Fns.cloudinaryUploadPreset %>"
    ></div>
  </div>
</div>
