<div class="-u-page -u-mw-450 mt-5 mb-5">
  <div class="text-center -u-title">
    Create Release
  </div>
  <% if(true) { %>
  <form class="form -u-form-input-spacing mt-5">
    <!-- RELEASE TITLE -->
    <%- include('../partials/form/input', {formData: {label: 'Release Title',
    name: 'title', required: '*required'}}) %>

    <!-- SELECT ARTIST -->
    <%- include('../partials/form/select', {formData: {label: 'Artist', name:
    'artist', required: '*required', options: ['wizkid', 'phyno']}}) %>

    <!-- SELECT PACKAGE -->
    <%- include('../partials/form/select', {formData: {label: 'Package', name:
    'title', required: '*required', disabled: true}}) %>

    <!-- SELECT RELEASE TYPE -->
    <%- include('../partials/form/select', {formData: {label: 'Release Type',
    name: 'type', required: '*required', disabled: true}}) %>

    <div class="text-center text-md-right">
      <button class="btn-primary" type="submit">Create Release &rarr;</button>
    </div>
  </form>
  <% } else { %>
  <form class="form -u-form-input-spacing mt-5">
    <!-- RELEASE TITLE -->
    <%- include('../partials/form/input', {formData: {label: 'Release Title',
    name: 'title', required: '*required'}}) %>

    <!-- SELECT PACKAGE -->
    <%- include('../partials/form/select', {formData: {label: 'Package', name:
    'title', required: '*required', options: ['BASIC', 'PROFESSIONAL']}}) %>

    <!-- SELECT RELEASE TYPE -->
    <%- include('../partials/form/select', {formData: {label: 'Release Type',
    name: 'type', required: '*required', disabled: true}}) %>

    <div class="text-center text-md-right">
      <button class="btn-primary" type="submit">Create Release &rarr;</button>
    </div>
  </form>
  <% } %>
</div>
