<section class="pb-5">
  <% const {id, type, status, title, releaseDate, comment, subscription, user,
  tracks, labelArtist, copyrightHolder, copyrightYear, artwork, primaryGenre,
  secondaryGenre, price, storeType, stores, allStores} = pageData %>
  <div
    class="-u-page"
    data-release_type="<%= type %>"
    data-release_id="<%= id %>"
    data-release_status="<%= status %>"
    id="add-music"
  >
    <% if(status === 'declined' && comment) { %>
    <div class="alert alert-danger w-75 mx-auto text-center mb-5">
      <%= comment %>
    </div>
    <% } %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs custom-tab" id="myTab" role="tablist">
      <li class="nav-item custom-tab__item" id="addMusic-release-tab">
        <a
          class="nav-link custom-tab__item--link active"
          data-toggle="tab"
          href="#release-info"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Release Info</a
        >
      </li>
      <li class="nav-item custom-tab__item" id="addMusic-track-tab">
        <a
          class="nav-link custom-tab__item--link"
          data-toggle="tab"
          href="#track-info"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Track(s)</a
        >
      </li>
      <li class="nav-item custom-tab__item" id="addMusic-schedule-tab">
        <a
          class="nav-link custom-tab__item--link"
          data-toggle="tab"
          href="#schedule-info"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Schedule</a
        >
      </li>
      <li class="nav-item custom-tab__item" id="addMusic-distribution-tab">
        <a
          class="nav-link custom-tab__item--link"
          data-toggle="tab"
          href="#distribution-info"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Distribution</a
        >
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div
        class="tab-pane active"
        id="release-info"
        role="tabpanel"
        aria-labelledby="release-tab"
      >
        <%- include("../partials/addMusic/releaseInfo", {type, copyrightHolder,
        copyrightYear, title, primaryGenre, secondaryGenre, artwork,
        labelArtist, user}) %>
      </div>
      <div
        class="tab-pane"
        id="track-info"
        role="tabpanel"
        aria-labelledby="track-tab"
      >
        <% if(type === 'track') { %> <%-
        include("../partials/addMusic/trackComp", { trackData: tracks[0],
        labelArtist, user, releaseId: id, title }) %> <% } else { %> <%-
        include("../partials/addMusic/albumComp" , { tracks, labelArtist, user,
        releaseId: id }) %> <% } %>
      </div>
      <div
        class="tab-pane"
        id="schedule-info"
        role="tabpanel"
        aria-labelledby="schedule-tab"
      >
        <section id="release" class="-u-mw-450 mt-5 mb-5 mx-auto">
          <div class="-u-title mb-4 text-center">Select Release Date</div>
          <form
            class="form"
            data-type="submit"
            id="addMusic-release-date"
            data-query_include="true"
          >
            <%- include("../partials/form/input", {formData: {label: `Select
            Date (must be atleast 12 days time)`, required: '*required',
            inputId: 'date-input', inputText: subscription.status === 'active' ?
            '' : `Activate the subscription for this release today to get it
            live on stores on or before the selected date`, name: 'releaseDate',
            type: 'date', value: Fns.dateFormat(releaseDate, true)}}) %>
          </form>
        </section>
      </div>
      <section
        class="tab-pane"
        id="distribution-info"
        role="tabpanel"
        aria-labelledby="distribution-tab"
      >
        <%- include("../partials/addMusic/distribution", {allStores, stores,
        price, storeType}) %>
      </section>
    </div>
  </div>
  <div class="-u-group mb-5 btn-group">
    <button class="btn-outline" id="addMusic-save">
      <span
        class="iconify"
        data-icon="ic:outline-save-alt"
        data-inline="false"
      ></span>
      <span>Save Draft</span>
    </button>
    <button class="btn-primary" id="addMusic-publish">
      <span
        class="iconify"
        data-icon="ic:baseline-done"
        data-inline="false"
      ></span>
      Submit
    </button>
  </div>
</section>
