<div class="complete-profile">
  <form
    class="form -u-form-input-spacing"
    id="complete-profile"
    data-validation="completeProfile"
    data-submitUrl="/complete-profile"
  >
    <div class="form__head">
      <h2></h2>
    </div>
    <div class="alert alert-info">
      We need more information from you to get started, please complete your
      profile by filling the fields below
    </div>

    <!-- STAGE NAME -->
    <%- include('./partials/form/input', {formData: {required: '*required',
    label: `Stage Name`, name: 'stageName'}}) %>

    <!-- RECORD LABEL -->
    <%- include('./partials/form/input', {formData: { label: `Record Label`,
    name: 'label', inputText: `Fill this only if you have a record label`}}) %>

    <!-- TWITTER HANDLE -->
    <%- include('./partials/form/input', {formData: {label: `Twitter handle`,
    name: 'twitter', inputText: `Should contain '@' - e.g @fresible`}}) %>

    <!-- INSTAGRAM HANDLE -->
    <%- include('./partials/form/input', {formData: {label: `Instagram handle`,
    name: 'instagram', inputText: `Should contain '@' - e.g @fresible`}}) %>

    <!-- AVATAR UPLOAD -->
    <%- include('./partials/form/imageFile', {formData: {label: `Upload your
    Avatar (picture)`, name: 'avatar', size: "0.50", public_id:
    `music/avatars/avatar-${Fns.token(5)}`}}) %>

    <!-- PHONE -->
    <%- include('./partials/form/input', {formData: {label: `Phone`, name:
    'phone', type: 'number', inputText: `Phone number should be in this format -
    08030xxxxxx (11 digits)`, required: '*required'}}) %>

    <!-- BANK  -->
    <%- include('./partials/form/input', {formData: {label: `Bank`, name:
    'bank'}}) %>

    <!-- ACCOUNT NAME  -->
    <%- include('./partials/form/input', {formData: {label: `Account Name`,
    name: 'bankAccount'}}) %>

    <!-- ACCOUNT NUMBER  -->
    <%- include('./partials/form/input', {formData: {label: `Account Number`,
    name: 'bankAccountNo'}}) %>

    <div class="form__submit">
      <div></div>
      <button type="submit" class="form__submit--btn btn-primary">
        Submit
      </button>
    </div>
  </form>
</div>
