<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/dist/bundle.css" />
    <title><%= title %> | Fresible Music Distribution</title>
    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "2918289281524709");
      fbq("track", "PageView");
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        src="https://www.facebook.com/tr?id=2918289281524709&ev=PageView
  &noscript=1"
      />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-150022065-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-150022065-1");
    </script>
  </head>
  <body>
    <main class="dashboard -u-close-menu" id="main-page">
      <aside class="dashboard__nav nav">
        <a href="/">
          <div class="nav__logo">
            <img
              src="/images/fresible-logo-white.png"
              class="nav__logo--img"
              alt="Fresible Logo"
            />
          </div>
        </a>
        <ul class="nav__list">
          <a href="/" class="nav__list--item">
            <span
              class="iconify icon:simple-line-icons:speedometer icon-inline:false nav__list--item-icon"
              style="color: #fff;"
            ></span>
            <span class="nav__list--item-text">Dashboard</span>
          </a>
          <a href="/submissions" class="nav__list--item">
            <span
              class="iconify icon:simple-line-icons:music-tone-alt icon-inline:false nav__list--item-icon"
              style="color: #fff;"
            ></span>
            <span class="nav__list--item-text">Releases</span>
          </a>
          <a href="/subscriptions" class="nav__list--item">
            <span
              class="iconify icon:simple-line-icons:pie-chart icon-inline:false nav__list--item-icon"
              style="color: #fff;"
            ></span>
            <span class="nav__list--item-link">Subscriptions</span>
          </a>
          <a href="/payment/history" class="nav__list--item">
            <span
              class="iconify icon:simple-line-icons:graph icon-inline:false nav__list--item-icon"
              style="color: #fff;"
            ></span>
            <span class="nav__list--item-link">Payment history</span>
          </a>
          <a href="/contact-us" class="nav__list--item">
            <span
              class="iconify icon:simple-line-icons:envelope icon-inline:false nav__list--item-icon"
              style="color: #fff;"
            ></span>
            <span class="nav__list--item-link">Contact Us</span>
          </a>
          <a href="/faqs" class="nav__list--item">
            <span
              class="iconify icon:simple-line-icons:layers icon-inline:false nav__list--item-icon"
              style="color: #fff;"
            ></span>
            <span class="nav__list--item-link">FAQs</span>
          </a>
          <% if(loggedInUserRole !== 'subscriber') {%>
          <a href="/fmadmincp" class="nav__list--item bg-success">
            <span
              class="iconify icon:simple-line-icons:layers icon-inline:false nav__list--item-icon"
              style="color: #fff;"
            ></span>
            <span class="nav__list--item-link">Control Panel</span>
          </a>
          <% } %>
        </ul>
      </aside>
      <aside class="dashboard__body">
        <header class="dashboard__body--header header">
          <div class="header__left">
            <div class="header__left__hamburger">
              <input
                type="checkbox"
                id="hamburger"
                class="header__left__hamburger--check"
              />
              <label
                for="hamburger"
                class="header__left__hamburger--div"
              ></label>
            </div>
            <div class="header__left__page">
              <span class="header__left__page--title"><%= title %></span>
            </div>
          </div>
          <div class="header__avatar">
            <div class="dropdown">
              <label class="dropdown__click" for="checkboxD">
                <div class="dropdown__click--text">
                  Hi, <span class="-u-bold"><%= loggedInUserFirstName %></span>
                </div>
                <div class="header__avatar--img">
                  <% if(loggedInUserAvatar) { %>
                  <img
                    class="header__avatar--img-image"
                    src="<%= loggedInUserAvatar %>"
                    alt="<%= loggedInUserFirstName %>"
                  />
                  <% } else { %>
                  <span
                    class="iconify icon:simple-line-icons:user icon-inline:false header__avatar--img-icon"
                  ></span>
                  <% } %>
                </div>
              </label>
              <input
                type="checkbox"
                id="checkboxD"
                name="checkbox"
                class="dropdown--check"
              />
              <div class="dropdown__container">
                <div>
                  <a href="/profile" class="dropdown__container--link"
                    >Profile</a
                  >
                </div>
                <div>
                  <a href="/logout" class="dropdown__container--link">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="dashboard__body--main">
          <div class="dashboard__body--main-page -u-mobile-default">
            <%- include(page) %>
          </div>

          <div class="page__alert" id="page-alert">
            <div id="page-alert-text"></div>
            <div id="alert-close">&times;</div>
          </div>
          <%- include("partials/popups/index") %>
          <div class="loader loader__page hide" id="loader">
            <div class="lds-roller">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <span class="lds-roller__text" id="loader-text"></span>
            </div>
          </div>
        </div>
      </aside>
    </main>
  </body>
  <script src="/dist/client.bundle.js"></script>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function () {
      if (location.host.startsWith("localhost")) return;
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = "https://embed.tawk.to/59e100ccc28eca75e4625eb6/default";
      s1.charset = "UTF-8";
      s1.setAttribute("crossorigin", "*");
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
  <script id="mcjs">
    !(function (c, h, i, m, p) {
      (m = c.createElement(h)),
        (p = c.getElementsByTagName(h)[0]),
        (m.async = 1),
        (m.src = i),
        p.parentNode.insertBefore(m, p);
    })(
      document,
      "script",
      "https://chimpstatic.com/mcjs-connected/js/users/996021d7591c8f3cc6af69f4e/a1d7ad78595975a2b77eef2bf.js"
    );
  </script>
</html>
