<div class="-u-page submission">
  <!-- <div><a href="/submissions" class="-u-link-default">&larr;</a></div> -->
  <% const {id, type, status, title, comment, subscription, releaseDate,
  approvedDate, createdAt, user, labelArtist, linkId, link, tracks, artwork, copyrightYear, copyrightHolder, primaryGenre, secondaryGenre} = pageData;
  %>
  <div class="single-head">
    <a class="single-head__back" href="/submissions">
      <span
        class="iconify"
        data-icon="ion:arrow-back-circle-outline"
        data-inline="false"
      ></span>
      <span>Back</span>
    </a>
    <div class="single-head__title -u-id-head">
      <span>Release</span>
      <span>&mdash;</span>
      <span><%= Fns.idLookUp(id) %></span>
    </div>
  </div>
  <div class="submission__alert">
    <% if(subscription.status === 'inactive') { %>
      <div class="alert alert-danger text-center">
        The subscription for this release is not yet activated, this release will
        not be approved for distribution.
        <a
          class="alert-link -u-font-bold -u-text-underline"
          href="/subscription/<%= subscription.id %>"
          >View Subscription</a
        >
      </div>
    <% } else if(status === 'declined' && comment) { %>
    <div class="alert alert-danger text-center">
      <%= comment %>
    </div>
    <% } else if(status === 'processing') { %>
      <div class="alert alert-info text-center">
        This release is pending approval, you will be notified when approved.
      </div>
    <% } else if(status === 'approved') { %>
      <div class="alert alert-success text-center">
        This release has been approved for distribution.
      </div>
      <% } else if(status === 'in stores' && linkId) { %>
        <div class="alert alert-info submission--link">
          This release is now <strong>live</strong> in stores,
          <a
            href="https://fresible.link/<%= link.slug %>"
            class="alert-link"
            target="_blank"
            >click to view your release card containing major links</a
          >
        </div>
    <% } else if(status === 'expired') { %>
      <div class="alert alert-secondary text-center">
        The subscription for this release has expired, all releases for this
        subscription would be taken down unless you renew it.
      </div>
    <% } %>
  </div>

<!-- PAGE -->
  <section class="submission__body">
    <section class="submission__details">
      <div class="submission__details__overview flex-column flex-md-row">
        <div
          class="submission__details__overview__image mb-4 mr-0 mr-md-5 mb-md-5"
        >
            <div class="submission__details__overview__image__container">
              <img
              class="submission__details__overview__image__container--img"
              src="<%= artwork || '/dist/no-image.jpg' %>"
              alt="<%= title %> artwork"
            />
            </div>
        </div>
        <div class="submission__details__overview__info">
          <div class="-u-font-big submission__details__overview__info--title">
            <%= title %>
          </div>
          <div class="submission__details__overview__info__list">
            <ul class="submission__list">
              <li class="submission__list__item">
                <div class="submission__list__item--title">
                  <%=type === 'track' ? 'single' : 'album' %> by
                </div>
                <div class="submission__list__item--details">
                  <%= Fns.capitalize(labelArtist ? labelArtist.stageName :
                  user.profile.stageName) %>
                </div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">language</div>
                <div class="submission__list__item--details">-</div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">label</div>
                <div class="submission__list__item--details">
                  <%=Fns.capitalize(user.profile.label) %>
                </div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">UPC/EAN</div>
                <div class="submission__list__item--details">-</div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Copyright Holder</div>
                <div class="submission__list__item--details"><%=Fns.capitalize(copyrightHolder) %></div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Copyright Year</div>
                <div class="submission__list__item--details">
                  <%=Fns.capitalize(copyrightYear) %>
                </div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Primary Genre</div>
                <div class="submission__list__item--details"><%=Fns.capitalize(primaryGenre) %></div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Secondary Genre</div>
                <div class="submission__list__item--details">
                  <%=Fns.capitalize(secondaryGenre) %>
                </div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Sub. package</div>
                <div class="submission__list__item--details">
                  <%= Fns.capitalize(subscription.package.package) %>
                </div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Sub. status</div>
                <div class="submission__list__item--details">
                  <span
                    class="badge badge-pill badge-<%=Fns.colorText(subscription.status) %>"
                    ><%= subscription.status %></span
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="submission__details__options p-5">
        <div>
          <div
            class="-u-font-big submission__details__overview__info--title mb-2"
          >
            Status
          </div>
          <div>
            <span class="badge badge-pill badge-<%=Fns.colorText(status) %>"
              ><%= status %></span
            >
          </div>
        </div>
        <div>
          <div
            class="-u-font-big submission__details__overview__info--title mb-4"
          >
            Dates
          </div>
          <ul class="submission__list">
            <li class="submission__list__item">
              <div class="submission__list__item--title">added</div>
              <div class="submission__list__item--details">
                <%= Fns.dateFormat(createdAt) %>
              </div>
            </li>
            <li class="submission__list__item">
              <div class="submission__list__item--title">approved</div>
              <div class="submission__list__item--details">
                <%= Fns.dateFormat(approvedDate) || '-' %>
              </div>
            </li>
            <li class="submission__list__item">
              <div class="submission__list__item--title">release</div>
              <div class="submission__list__item--details">
                <%= Fns.dateFormat(releaseDate) %>
              </div>
            </li>
            <li class="submission__list__item">
              <div class="submission__list__item--title">original release</div>
              <div class="submission__list__item--details">-</div>
            </li>
          </ul>
        </div>
      </div>
      <% if(status === "in stores" && linkId) { %>
        <section
        class="submission__link d-flex flex-column flex-md-row align-items-center mt-4 py-4"
      >
        <div class="submission__link__left mb-5 mr-md-4 mb-md-0">
          <div class="-u-font-bold mb-3">Share your music!</div>
          <div>
            Your music on all stores, with one easy shareable link - let’s get
            your music out there!
          </div>
        </div>
        <div class="submission__link__right text-right">
          <a class="btn-outline py-2 px-5" href="https://fresible.link/<%= link.slug %>">VIEW LINK</a>
        </div>
      </section>
      <% } %>
      <section class="mt-5 border-0">
        <div class="-u-font-bold mb-4"><%= type === 'track' ? 'TRACK' : 'TRACKS-LIST' %></div>
        <table
          data-toggle="table"
          data-classes="table table-hovered table-striped table-custom--th-font-light"
          data-mobile-responsive="true"
          data-mobile="true"
        >
          <thead>
            <tr>
              <th>TITLE</th>
              <th>FEATURED</th>
              <th>EXPLICIT</th>
              <th>COPYRIGHT</th>
              <th>YEAR</th>
              <th>ISRC</td>
            </tr>
          </thead>
          <tbody>
            <% tracks.forEach(({title, artiste, featured, genre, explicit,
            copyrightYear, copyrightHolder, isrcCode}) => { %>
            <tr>
              <td><%= title %></td>
              <td><%= featured %></td>
              <td><%=Fns.capitalize(explicit) %></td>
              <td><%= copyrightHolder %></td>
              <td><%= copyrightYear %></td>
              <td><%= isrcCode || '-' %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    </section>
  </section>
  <% if(status === 'declined') { %>
  <div class="text-center mt-5">
    <a href="/add-music/<%=id %>" class="btn-primary"
      ><span
        class="iconify"
        data-icon="feather:edit-2"
        data-inline="false"
      ></span>
      <span>Edit Release</span></a
    >
  </div>
  <% } %>
</div>
