<div class="-u-page submission">
  <!-- <div><a href="/submissions" class="-u-link-default">&larr;</a></div> -->
  <% const {id, type, status, comment, subscription, releaseDate, createdAt,
  album, track, video, linkId, link} = pageData; %>
  <div class="single-head">
    <a class="single-head__back" href="/submissions">
      <span
        class="iconify"
        data-icon="ion:arrow-back-circle-outline"
        data-inline="false"
      ></span>
      <span>Back</span>
    </a>
    <div class="single-head__title -u-id-head">
      <span>Release</span>
      <span>&mdash;</span>
      <span><%= Fns.idLookUp(id) %></span>
    </div>
  </div>
  <div class="submission__alert">
    <% if(comment) { %>
    <div class="alert alert-danger text-center">
      <%= comment %>
    </div>
    <% } else { %> <% if(subscription.status === 'inactive') { %>
    <div class="alert alert-danger text-center">
      The subscription for this release is not yet activated, this release will
      not be approved for distribution
    </div>
    <% } else if(status === 'approved' && subscription.status === 'active') { %>
    <div class="alert alert-success text-center">
      This release has been approved for distribution.
    </div>
    <% } else if(subscription.status === 'expired') { %>
    <div class="alert alert-secondary text-center">
      The subscription for this release has expired, all releases for this
      subscription would be taken down unless you renew it.
    </div>
    <% } else { %>
    <div class="alert alert-info text-center">
      This release is pending approval, you will be notified when approved.
    </div>
    <% } %> <% } %>
  </div>

  <% if(linkId) { %>
  <div class="alert alert-info submission--link">
    This release is now <strong>live</strong> on stores,
    <a href="https://fresible.link/<%= link.slug %>" class="alert-link"
      >click to view your release card containing major links</a
    >
  </div>
  <% } %>

  <div class="submission__body">
    <div class="overview__cat mt-5">
      <div class="overview__cat--name">
        <span
          class="iconify overview__cat--name-icon"
          data-icon="ion:folder-open-outline"
          data-inline="false"
        ></span>
        RELEASE INFO.
      </div>
      <ul class="overview__cat__list">
        <li class="overview__cat__list__item">
          <div class="u-flex-middle">
            <span
              class="iconify overview__cat__list__item--icon"
              data-icon="ei:check"
              data-inline="false"
            ></span>
            <span>Type:</span>
          </div>
          <span><%= type %></span>
        </li>
        <li class="overview__cat__list__item">
          <div class="u-flex-middle">
            <span
              class="iconify overview__cat__list__item--icon"
              data-icon="ei:check"
              data-inline="false"
            ></span>
            <span>Status:</span>
          </div>
          <div>
            <span class="badge badge-pill badge-<%= Fns.colorText(status) %>"
              ><%= status %></span
            >
          </div>
        </li>
        <li class="overview__cat__list__item">
          <div class="u-flex-middle">
            <span
              class="iconify overview__cat__list__item--icon"
              data-icon="ei:check"
              data-inline="false"
            ></span>
            <span>Date Added:</span>
          </div>
          <span><%= Fns.dateFormat(createdAt) %></span>
        </li>
        <li class="overview__cat__list__item">
          <div class="u-flex-middle">
            <span
              class="iconify overview__cat__list__item--icon"
              data-icon="ei:check"
              data-inline="false"
            ></span>
            <span>Release Date:</span>
          </div>
          <span><%= Fns.dateFormat(releaseDate) %></span>
        </li>
      </ul>
    </div>
    <div class="overview__cat">
      <div class="overview__cat--name">
        <span
          class="iconify overview__cat--name-icon"
          data-icon="ion:folder-open-outline"
          data-inline="false"
        ></span>
        SUBSCRIPTION INFO.
      </div>
      <ul class="overview__cat__list">
        <li class="overview__cat__list__item">
          <div class="u-flex-middle">
            <span
              class="iconify overview__cat__list__item--icon"
              data-icon="ei:check"
              data-inline="false"
            ></span>
            <span>Package:</span>
          </div>
          <span><%= subscription.package.package %></span>
        </li>
        <li class="overview__cat__list__item">
          <div class="u-flex-middle">
            <span
              class="iconify overview__cat__list__item--icon"
              data-icon="ei:check"
              data-inline="false"
            ></span>
            <span>Status:</span>
          </div>
          <div>
            <span
              class="badge badge-pill badge-<%= Fns.colorText(subscription.status) %>"
              ><%= subscription.status %></span
            >
          </div>
        </li>
      </ul>
      <div class="text-center">
        <a
          href="/subscription?id=<%=Fns.idLookUp(subscription.id) %>"
          class="btn-outline"
          >View Subscription &rarr;</a
        >
      </div>
    </div>

    <% if(type === 'album') { %> <%- include('partials/addMusic/albumOverview',
    album, showBtn= true); %> <% } %> <% if(type === 'track') { %> <%-
    include('partials/addMusic/trackOverview', track); %> <% } %> <% if(type ===
    'video') { %> <%- include('partials/addMusic/videoOverview', video); %> <% }
    %>
  </div>
</div>
