<div class="-u-page submission">
  <!-- <div><a href="/submissions" class="-u-link-default">&larr;</a></div> -->
  <% const {id, status, subscription, package, reference, date, createdAt} =
  pageData; %>
  <div class="single-head">
    <a class="single-head__back" href="/payment/history">
      <span
        class="iconify"
        data-icon="ion:arrow-back-circle-outline"
        data-inline="false"
      ></span>
      <span>Back</span>
    </a>
    <div class="single-head__title -u-id-head">
      <span>Payment</span>
      <span>&mdash;</span>
      <span><%= id %></span>
    </div>
  </div>
  <div class="submission__body">
    <div class="overview__cat">
      <div class="overview__cat--name">
        <span
          class="iconify overview__cat--name-icon"
          data-icon="ion:folder-open-outline"
          data-inline="false"
        ></span>
        SUBSCRIPTION INFO.
      </div>
      <ul class="overview__cat__list">
        <li class="overview__cat__list__item">
          <div class="u-flex-middle">
            <span
              class="iconify overview__cat__list__item--icon"
              data-icon="ei:check"
              data-inline="false"
            ></span>
            <span>Package:</span>
          </div>
          <span><%= package.package %></span>
        </li>
        <li class="overview__cat__list__item">
          <div class="u-flex-middle">
            <span
              class="iconify overview__cat__list__item--icon"
              data-icon="ei:check"
              data-inline="false"
            ></span>
            <span>Max Tracks:</span>
          </div>
          <span><%= package.maxTracks %></span>
        </li>
        <li class="overview__cat__list__item">
          <div class="u-flex-middle">
            <span
              class="iconify overview__cat__list__item--icon"
              data-icon="ei:check"
              data-inline="false"
            ></span>
            <span>Period:</span>
          </div>
          <span><%= package.period %></span>
        </li>
        <li class="overview__cat__list__item">
          <div class="u-flex-middle">
            <span
              class="iconify overview__cat__list__item--icon"
              data-icon="ei:check"
              data-inline="false"
            ></span>
            <span>Amount:</span>
          </div>
          <span><%= Fns.formatCurrency(package.price) %></span>
        </li>
      </ul>
      <div class="text-center">
        <a
          href="/subscription?id=<%=Fns.idLookUp(subscription.id) %>"
          class="btn-outline"
          >View Subscription &rarr;</a
        >
      </div>
    </div>
    <div class="overview__cat">
      <div class="overview__cat--name">
        <span
          class="iconify overview__cat--name-icon"
          data-icon="ion:folder-open-outline"
          data-inline="false"
        ></span>
        TRANSACTION INFO.
      </div>
      <ul class="overview__cat__list">
        <li class="overview__cat__list__item">
          <div class="u-flex-middle">
            <span
              class="iconify overview__cat__list__item--icon"
              data-icon="ei:check"
              data-inline="false"
            ></span>
            <span>Initialized:</span>
          </div>
          <span><%=Fns.dateFormat(createdAt) %></span>
        </li>
        <li class="overview__cat__list__item">
          <div class="u-flex-middle">
            <span
              class="iconify overview__cat__list__item--icon"
              data-icon="ei:check"
              data-inline="false"
            ></span>
            <span>Status:</span>
          </div>
          <div>
            <span class="badge badge-pill badge-<%=Fns.colorText(status) %>"
              ><%=status%></span
            >
          </div>
        </li>
        <li class="overview__cat__list__item">
          <div class="u-flex-middle">
            <span
              class="iconify overview__cat__list__item--icon"
              data-icon="ei:check"
              data-inline="false"
            ></span>
            <span>Payment Date:</span>
          </div>
          <span><%=Fns.dateFormat(date) %></span>
        </li>
      </ul>
    </div>
    <div class="overview__cat">
      <div class="overview__cat--name">
        <span
          class="iconify overview__cat--name-icon"
          data-icon="ion:folder-open-outline"
          data-inline="false"
        ></span>
        ACTIONS
      </div>
      <div>
        <% if(status) { %>
        <div class="-u-box-center alert alert-info -u-mt-10">
          This payment has been queried and verified via the payment portal, got
          questions?
          <a href="/contact-us" class="alert-link">Contact us &rarr;</a>
        </div>
        <% } else {%>
        <div
          class="-u-flexerize -u-mt-10 -u-border-grey"
          style="padding: 10px; border-radius: 10px"
        >
          <span>This payment is not yet verified</span>
          <div class="text-right">
            <button
              class="btn-primary"
              id="queryPayment"
              data-reference="<%= reference %>"
            >
              Query now &rarr;
            </button>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
