<% const {id, type, status, title, comment, subscription, releaseDate, price, storeType,
  approvedDate, createdAt, user, labelArtist, linkId, link, tracks, artwork, copyrightYear, copyrightHolder, primaryGenre, secondaryGenre} = pageData;
  %>
  <% const stageName = labelArtist ? labelArtist.stageName :
  user.profile.stageName %>
<div class="-u-page submission" id="submission" data-data="<%= JSON.stringify({id, linkId, stageName, title, link, status}) %>">
  <!-- <div><a href="/submissions" class="-u-link-default">&larr;</a></div> -->
  <div class="single-head">
    <a class="single-head__back" href="/fmadmincp/submissions">
      <span
        class="iconify"
        data-icon="ion:arrow-back-circle-outline"
        data-inline="false"
      ></span>
      <span>Back</span>
    </a>
    <div class="single-head__title -u-id-head">
      <span>Submission</span>
      <span>&mdash;</span>
      <span><%= id %></span>
    </div>
  </div>
  <div class="submission__alert">
    <% if(comment) { %>
    <div class="submission__alert__comment">
      <% if(Fns.isAdminPage) { %>
      <div
        class="submission__alert__comment--pen"
        data-id="<%= id %>"
        id="decline-comment-edit"
      >
        <span
          class="iconify"
          data-icon="dashicons:edit-large"
          data-inline="false"
        ></span>
      </div>
      <% } %>
      <div
        class="submission__alert__comment--text alert alert-danger text-center"
        id="decline-comment"
      >
        <%= comment %>
      </div>
    </div>
    <% } %>
  </div>
  <section class="submission__body">
    <section class="submission__details">
      <div class="submission__details__overview flex-column flex-md-row">
        <div
        class="submission__details__overview__image mb-4 mr-0 mr-md-5 mb-md-5"
      >
          <div class="submission__details__overview__image__container">
            <img
            class="submission__details__overview__image__container--img"
            src="<%= Fns.cloudinaryDynamicSize(artwork) || '/dist/no-image.jpg' %>"
            alt="<%= title %> artwork"
          />
          </div>
          <% if(artwork) { %>
            <div class="text-center mt-2">
              <a href="<%= artwork %>">View Artwork</a>
            </div>
          <% } %>

      </div>
        <div class="submission__details__overview__info">
          <div class="-u-font-big submission__details__overview__info--title">
            <%= title %>
          </div>
          <div class="submission__details__overview__info__list">
            <ul class="submission__list">
              <li class="submission__list__item">
                <div class="submission__list__item--title">
                  <%=type === 'track' ? 'single' : 'album' %> by
                </div>
                <div class="submission__list__item--details -u-text-capitalize">
                  <%= stageName || '' %>
                </div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">language</div>
                <div class="submission__list__item--details">-</div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">label</div>
                <div class="submission__list__item--details -u-text-capitalize">
                  <%= user.profile.label %>
                </div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">UPC/EAN</div>
                <div class="submission__list__item--details">-</div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Copyright Holder</div>
                <div class="submission__list__item--details -u-text-capitalize"><%= copyrightHolder %></div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Copyright Year</div>
                <div class="submission__list__item--details -u-text-capitalize">
                  <%= copyrightYear %>
                </div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Primary Genre</div>
                <div class="submission__list__item--details -u-text-capitalize"><%= primaryGenre %></div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Secondary Genre</div>
                <div class="submission__list__item--details -u-text-capitalize">
                  <%= secondaryGenre %>
                </div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Sub. package</div>
                <div class="submission__list__item--details -u-text-capitalize">
                  <%=  subscription.package.package %>
                </div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Sub. status</div>
                <div class="submission__list__item--details">
                  <span
                    class="badge badge-pill badge-<%=Fns.colorText(subscription.status) %>"
                    ><%= subscription.status %></span
                  >
                  <span><a class="ml-3" href="/fmadmincp/subscription/<%= subscription.id %>">view</a></span>
                </div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">SUBSCRIBER</div>
                <div class="submission__list__item--details"><%= user.firstName + ' ' + user.lastName %></div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">profile</div>
                <div class="submission__list__item--details">
                  <a href="/fmadmincp/subscriber/<%= user.id %>">view</a>
                </div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Pricing</div>
                <div class="submission__list__item--details">
                  <%= price %>c
                </div>
              </li>
              <li class="submission__list__item">
                <div class="submission__list__item--title">Stores Type</div>
                <div class="submission__list__item--details">
                  <%= storeType %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="submission__details__options p-5">
        <div>
          <div
            class="-u-font-big submission__details__overview__info--title mb-2"
          >
            Status
          </div>
          <div>
            <span class="badge badge-pill badge-<%=Fns.colorText(status) %>"
              ><%= status %></span
            >
          </div>                                 
        </div>
        <div>
          <div
            class="-u-font-big submission__details__overview__info--title mb-4"
          >
            Dates
          </div>
          <ul class="submission__list">
            <li class="submission__list__item">
              <div class="submission__list__item--title">added</div>
              <div class="submission__list__item--details">
                <%= Fns.dateFormat(createdAt) %>
              </div>
            </li>
            <li class="submission__list__item">
              <div class="submission__list__item--title">approved</div>
              <div class="submission__list__item--details">
                <%= Fns.dateFormat(approvedDate) || '-' %>
              </div>
            </li>
            <li class="submission__list__item">
              <div class="submission__list__item--title">release</div>
              <div class="submission__list__item--details">
                <%= Fns.dateFormat(releaseDate) %>
              </div>
            </li>
            <li class="submission__list__item">
              <div class="submission__list__item--title">original release</div>
              <div class="submission__list__item--details">-</div>
            </li>
          </ul>
        </div>
      </div>
      <section class="mt-5 border-0">
        <div class="-u-font-bold mb-4"><%= type === 'track' ? 'TRACK' : 'TRACKS-LIST' %></div>
        <table
          data-toggle="table"
          data-classes="table table-hovered table-striped table-custom--th-font-light"
          data-mobile-responsive="true"
          data-mobile="true"
        >
          <thead>
            <tr>
              <th>Title</th>
              <th  data-align='center'>Featured</th>
              <th data-align='center'>Explicit</th>
              <th data-align='center'>Copyright</th>
              <th data-align='center'>Year</th>
              <th data-align='right'>Upload</td>
            </tr>
          </thead>
          <tbody>
            <% tracks.forEach(({title, featured, explicit,
            copyrightYear, copyrightHolder, track}) => { %>
            <tr>
              <td><%= title %></td>
              <td><%= featured %></td>
              <td><%= explicit %></td>
              <td><%= copyrightHolder %></td>
              <td><%= copyrightYear %></td>
              <td><%- track && `<a href='${track}'>view</a>` %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    </section>
  </section>
  <hr />
  <% if(subscription.status === 'inactive' || status === 'deleted' || status ===
  'incomplete') { %>

  <div class="alert alert-info text-center -u-mw-450">
    You cannot approve or decline this <b><%= type %></b> release, as a result
    of either inactive subscription or it has been marked as deleted or an
    incomplete submission
  </div>

  <% } else { %>
  <div class="admin-submission">
    <div class="row admin-submission__action__btns text-center">
      <% if(['incomplete', 'pending', 'processing', 'declined'].includes(status)) { %>
      <div class="col-xs-12 col-md">
        <button
        id="approve"
          class="btn btn-success"
        >
          Approve
        </button>
      </div>
   <% } %>
   <% if(['incomplete', 'pending', 'processing'].includes(status)) { %>
      <div class="col-xs-12 col-md">
        <button
          id="decline"
          class="btn btn-danger"
        >
          Decline
        </button>
      </div>
      <% } %>
      <% if(!(['incomplete', 'processing', 'declined'].includes(status))) { %>
      <div class="col-xs-12 col-md">
        <% if(status === 'in stores') { %>
        <button
          id="edit-links"
          class="btn-outline"
        >
          Edit Links
        </button>
        <% } else { %>
        <button
          id="add-links"
          class="btn btn-primary"
        >
          Add Links
        </button>
        <% } %>
      </div>
      <% } %>
    </div>
  </div>
  <% } %>
  <div class="mt-3 text-center">
    <% if(['incomplete', 'processing', 'declined'].includes(status)) { %>
    <button
      id="delete"
      class="btn btn-danger"
    >
      Delete
    </button>
    <% } %>
  </div>
</div>
