<div class="-u-page-s">
  <%- include('../partials/filters/index', data = ['s', 'd']) %> <% const
  {count, rows} = pageData; %>
  <div class="-u-page" style="margin: 0;">
    <div class="submissions">
      <table class="table table-hover text-center submissions__table">
        <thead class="submissions__table--head">
          <tr>
            <th>Id</th>
            <th>Subscriber</th>
            <th>Package</th>
            <th>Status</th>
            <th>Added</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% rows.forEach(({id, status, updatedAt, package, user, releases}) =>
          { %>
          <tr>
            <td>
              <a href="/fmadmincp/subscription/<%=Fns.idLookUp(id) %>"
                ><%=Fns.idLookUp(id) %></a
              >
            </td>
            <td><%=user.firstName %> <%=user.lastName%></td>
            <td><%=package.package %></td>
            <td>
              <span class="badge badge-pill badge-<%= Fns.colorText(status) %>"
                ><%=status %></span
              >
            </td>
            <td><%= releases.length %></td>
            <td>
              <a href="/fmadmincp/subscription/<%=Fns.idLookUp(id) %>">edit</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <%- include('../partials/pagination') %>
</div>
