<div class="-u-page-s">
  <!-- <div class="search">
    <div class="search__box">
      <form action="/fmadmincp/subscribers/search" class="d-flex" method="GET">
        <input type="email" placeholder="subscriber's email address" name="e" />
        <button type="submit" class="btn btn-primary">search</button>
      </form>
    </div>
  </div> -->
  <%- include('../partials/filters/index', data = ['e', 'd']); %> <% const
  {count, rows} = pageData; %>
  <div class="-u-page" style="margin: 0;">
    <div class="submissions">
      <table class="table table-hover text-center submissions__table">
        <thead class="submissions__table--head">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Stage Name</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% rows.forEach(({id, firstName, lastName, createdAt, profile}) => {
          %>
          <tr>
            <td>
              <a href="/fmadmincp/subscriber/<%=Fns.idLookUp(id) %>"
                ><%=Fns.idLookUp(id) %></a
              >
            </td>
            <td><%=firstName %> <%=lastName%></td>
            <td><%=profile && profile.stageName %></td>
            <td><%=Fns.dateFormat(createdAt) %></td>
            <td>
              <a href="/fmadmincp/subscriber/<%=Fns.idLookUp(id) %>">view</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <%- include('../partials/pagination') %>
</div>
