<% const hashMap = {label: '', disabled: false, required: '', placeholder: '', type: 'text', name: '', id: '', value: '', classList: [], options: [], dataAttributes: []} %>

<!--  -->

<% const {label, disabled, required, placeholder, type, name, value, id, classList, options, dataAttributes} =
Object.entries(hashMap).reduce((acc, [key, value]) => ({...acc, [key]:
formData[key] || value}) , {}) %>

<div class="form__input <%= classList.join(' ') %>">
    <label class="form__input--label">
      <span><%= label %></span>
      <span><%= required %></span>
    </label>
    <select style="font-size: inherit;" class="form-control form__input--element" <%= value && 'data-ignore=true' %> name="<%= name %>" <%= id && `id=${id}` %> <%= required && 'required' %> <%= disabled && 'disabled'  %>
      <% const attributes = Object.entries(dataAttributes).map(([name, value]) => name && value && `data-${name}=${value}` ) %>
      <%= attributes.join(' ') %>
      >
     <option value="<%= value ? value : ""%>"> <%= value ? value : `${placeholder || '-- select --'}` %></option>
     <% options.forEach((item) => { %>
        <% let [key, desc] = typeof item === 'string' ? [item, item] : item; %>
        <% if(key !== value) { %>
            <option value="<%= key %>"><%= desc %></option>
       <% } %>
     <% }) %>
    </select>
  </div>