<div class="-u-page" style="max-width: 500px;">
  <% const {type} = pageData; const {stageName, label, twitter, instagram,
  phone, bank, bankAccount, bankAccountNo, avatar} = pageData || {} %>
  <div class="alert alert-info mb-4">
    Edit the input fields that require update.
  </div>
  <form class="form -u-form-input-spacing mt-3" id="editProfile">
    <!-- STAGE NAME -->
    <%- include("../partials/form/imageFile", {formData: {name: 'avatar', value:
    avatar, size: '1', label: 'Account Avatar'}}) %>

    <!--  -->

    <% if(loggedInAccountType !== 'label') { %>
    <!-- STAGE NAME -->
    <%- include("../partials/form/input", {formData: {name: 'stageName', value:
    stageName, label: 'Stage Name', required: '*required'}}) %> <% } %>

    <!-- LABEL NAME -->
    <%- include("../partials/form/input", {formData: {name: 'label', value:
    label, label: 'Label Name', required: '*required'}}) %>

    <!--  TWITTER -->
    <%- include("../partials/form/input", {formData: {name: 'twitter', value:
    twitter, label: 'Twitter',}}) %>

    <!--  INSTAGRAM -->
    <%- include("../partials/form/input", {formData: {name: 'instagram', value:
    instagram, label: 'instagram',}}) %>

    <!--  PHONE -->
    <%- include("../partials/form/input", {formData: {name: 'phone', value:
    phone, required: '*required', label: 'Phone No.',}}) %>

    <!--  BANK NAME -->
    <%- include("../partials/form/input", {formData: {name: 'bank', value: bank,
    required: '*required', label: 'Bank Name',}}) %>

    <!--  BANK ACCOUNT NO -->
    <%- include("../partials/form/input", {formData: {name: 'bankAccountNo',
    value: bankAccountNo, required: '*required', label: 'Bank Account No.',}})
    %>

    <!--  BANK ACCOUNT NAME -->
    <%- include("../partials/form/input", {formData: {name: 'bankAccount',
    value: bankAccount, required: '*required', label: 'Bank Account Name',}}) %>

    <div class="form__submit">
      <div class="text-center">
        <a href="/profile"
          ><button type="button" class="btn-outline">
            &larr; View profile
          </button></a
        >
      </div>
      <button type="submit" class="form__submit--btn btn-primary">
        Update profile
      </button>
    </div>
  </form>
</div>
